/* General styles */

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Tags */
body{
    background-color: rgb(240, 240, 240);
}

header{
    padding: 20px 30px;
    background-color: white;
}

main{
    width: 70%;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    height: 800px;
}

hr{
    height: 2px;
    border-width: 0px;
    color: rgba(165, 165, 165, 0.411);
    background-color: rgba(165, 165, 165, 0.411);
}

li{
    font-size: 20px;
    padding-bottom: 20px;
}

/* Utilities */
        /* header */
.logo{
    vertical-align: middle;
}

.title{
    display: inline-block;
    font-size: 45px;
    vertical-align: middle;
}

        /* navbar */
.btn_add_task{
    margin: 20px 0px 10px 40px;
    background-color: #00bbf9;
    border: #00bbf9;
    color: white;
}

.btn_add_section{
    background-color: white;
    color: rgba(165, 165, 165, 0.411);
    border: rgba(165, 165, 165, 0.411);
}

.btn_style{
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid;
}

        /* 'dropdown' list of things*/
.list_sec{
    margin: 30px 0 0 40px;
}

.list_title{
    padding-bottom: 10px;
}


.list{
    list-style-type: none;
    padding: 0 0 30px 10px;
}

/* Symbols */

.check{
    padding: 1px;
    border: 1px solid #80ed99;
    border-radius: 50%;
    color: #80ed99;
}

.cross{
    padding: 1px;
    border: 1px solid #ef3c2d;
    border-radius: 50%;
    color: #ef3c2d;
}

/* Labels styles */

.label_style{
    padding: 7px 15px;
    border: 1px solid;
    border-radius: 15px;
    font-size: 15px;
    color: white;
}

.editorial{
    background-color: #00bbf9;
}

.goals{
    background-color: #e4c1f9;
}

.recruiting{
    background-color: #38b000;
}

.mobile{
    background-color: #ff9500;
}

.website{
    background-color: #ff99c8;
}

.sales{
    background-color: #70e000;
}









